@media screen and (min-width: 360px) {
  select {
    width: 200px;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 45px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    background-color: transparent;
  }
}
@media screen and (min-width: 1024px) {
  select {
    margin-bottom: 10px;
  }
}
