.table-wrapper {
  width: 100%;
  height: 250px;
  margin-top: 45px;
  overflow-y: auto;
}

table {
  width: 100%;
  font-size: 12px;
  border-spacing: 0;
}

thead {
  width: 100%;
  display: table;
  position: sticky;
  top: 0;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px 0 0 0;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #93989e;
}

.header-cell {
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 2px;
}

.currency-comparison-cell-inside-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.details-vector {
  width: 25px;
  height: 28px;
  margin-right: 5px;
  background: url("../../img/Vector.png") no-repeat center center;
  cursor: pointer;
}

.info-cell {
  display: inline-block;
  border: none;
  text-transform: capitalize;
}

.middle-cell {
  border-left: 1px solid rgba(194, 201, 209, 0.596);
  border-right: 1px solid rgba(194, 201, 209, 0.596);
}

tr {
  width: 100%;
  height: 40px;
  display: table;
}

td {
  width: 33.33%;
  padding: 0;
  padding-left: 15px;
  border-bottom: 1px solid rgba(194, 201, 209, 0.596);
  text-transform: uppercase;
}
