table {
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  border-color: unset;
}

thead {
  display: table;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #a6adb6;
}

.header-cell {
  /* padding-top: 8px; */
  /* padding-left: 16px; */
}

tbody {
  height: 300px;
  display: block;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
}

/* .body-cell {
  padding-left: 16px;
} */

.currency-comparison-cell-inside-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.details-vector {
  width: 25px;
  height: 28px;
  padding-right: 14px;
  border: none;
  background: url("../../img/Vector.png") no-repeat center center;
  cursor: pointer;
}

.info-cell {
  border: none;
}

.middle-cell {
  border-left: 1px solid #c2c9d1;
  border-right: 1px solid #c2c9d1;
}

tr {
  height: 40px;
  display: table;
  table-layout: fixed;
}

td {
  width: 200px;
  padding: 0;
  border-bottom: 1px solid #c2c9d1;
  text-transform: uppercase;
}
