.table-wrapper {
  display: inline-block;
  height: 250px;
  overflow-y: auto;
}

table {
  font-size: 12px;
  text-indent: 0;
  border-spacing: 0;
  border-color: unset;
}

thead {
  display: table;
  position: sticky;
  top: 0;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #72777c;
}

.header-cell {
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 2px;
}

tbody {
  font-family: "Open Sans", sans-serif;
}

/* Will be fixed in the PR related to issue #23 */
/* .body-cell {
  padding-left: 16px;
} */

.currency-comparison-cell-inside-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.details-vector {
  width: 25px;
  height: 28px;
  padding-right: 14px;
  background: url("../../img/Vector.png") no-repeat center center;
  cursor: pointer;
}

.info-cell {
  border: none;
  text-transform: capitalize;
}

.middle-cell {
  border-left: 1px solid rgba(194, 201, 209, 0.596);
  border-right: 1px solid rgba(194, 201, 209, 0.596);
}

tr {
  height: 40px;
  display: table;
}

td {
  width: 200px;
  padding: 0;
  padding-left: 15px;
  border-bottom: 1px solid rgba(194, 201, 209, 0.596);
  text-transform: uppercase;
}
