* {
  font-family: "Roboto", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
}
